<main>
    <section class="glass">
        <div class="dashboard">
          <div class="user">
            <h2>Rau Chipinde</h2>
          </div>
            <div class="links">
                 <div class="link">
              <form action="/" method="get">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ><h2>Home</h2></button>
              </form>
            </div>
            <div class="link">
              <form action="/About" method="get">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ><h2>About</h2></button>
              </form>
            </div>
            <div class="link">
              <form action="/Skills" method="get">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ><h2>Skills</h2></button>
              </form>
            </div>
            <div class="link">
              <form action="/Projects" method="get">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ><h2>Projects</h2></button>
              </form>
            </div>
        </div>
        </div>
<div class="games">
    <div class="status">
      <div>
        <h1>Software Developer</h1>
      </div>
    </div>
<div class="card_projects">
  <div class="card-body">
    <h5 class="card-title">Rau Weather App</h5>
    <p class="card-text">This simple app with the help of APIs turns your location to coordinates and that enable it to give you some weather details.</p>
    <a href="https://rau-weather-application.herokuapp.com/" class="btn btn-info">Go somewhere</a>
  </div>
</div>
</div>
    </section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>