<main>
    <section class="glass">
        <div class="dashboard">
          <div class="user">
            <h2>Rau Chipinde</h2>
          </div>
            <div class="links">
                 <div class="link">
              <form action="/" method="get">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ><h2>Home</h2></button>
              </form>
            </div>
            <div class="link">
              <form action="/About" method="get">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ><h2>About</h2></button>
              </form>
            </div>
            <div class="link">
              <form action="/Skills" method="get">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ><h2>Skills</h2></button>
              </form>
            </div>
            <div class="link">
              <form action="/Projects" method="get">
              <button class="btn btn-outline-info my-2 my-sm-0" type="submit" ><h2>Projects</h2></button>
              </form>
            </div>
        </div>
        </div>
<div class="games">
    <div class="status">
      <div>
        <h1>Software Developer</h1>
      </div>
    </div>
<div class="card">
  <div class="card-body">
    <p class="card-text">
        <h5>Front-end</h5>
        <ol><li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>Bootswatch CDN</li></ol>
    </p>
    <p class="card-text">
        <h5>Server-side</h5>
        <ol><li>Nodejs</li>
        <li>Expressjs</li>
        <li>Passportjs</li>
        <li>REST API</li>
        </ol>
    </p>
    <p class="card-text">
        <h5>Database</h5>
        <ol><li>mySQL</li>
        <li>MongoDB</li>
        </ol>
    </p>
  </div>
</div>
</div>
    </section>
</main>
<div class="circle1"></div>
<div class="circle2"></div>